<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Scrum</title>
        <h:outputStylesheet library="css" name="estilo.css"/>
        <h:outputStylesheet  library="css" name="default.css"  />
        <h:outputScript name="jsf.js" library="javax.faces" target="head" />    
        <h:outputScript library="js" name="monsterValidator.jquery.js" />
       
        <script>
          
        </script>
    </h:head>
    <h:body>

        <ui:include src="/WEB-INF/componentes/menuGeral.xhtml" />
        <div class="pageTitleDiv">
            <div style="float: left;height: 16px;">
                <ui:insert name="pageTitle">Titulo Aqui</ui:insert>
            </div>

            <p:ajaxStatus id="ajaxStatusPanel" style="float: left;height: 10px">  
                <f:facet name="start">  
                    <h:graphicImage  name="ajax-loader.gif"  library="img" />  
                </f:facet>  
                <f:facet name="complete">  
                    <h:outputText value="" /> 
                </f:facet>  
            </p:ajaxStatus> 
            <div style="clear: both"></div>
            <h:form id="messagesForm">
                <p:messages  id="inFormMessage" showDetail="true" showSummary="true" autoUpdate="true" closable="true"  >
                    <p:effect type="fade" event="click" >  
                        <f:param name="mode" value="'hide'" />  
                    </p:effect>  
                </p:messages>
            </h:form>
        </div>

        <ui:insert name="formulario">form aqui</ui:insert>
        <div class="footer"></div>
    </h:body>
</html>

