<ui:composition template="/WEB-INF/template/loginTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Login</ui:define>
    <ui:define name="formulario">
        <h:form id="formulario">      
            <div class="formButtonBar">
                <p:commandButton icon="ui-icon-disk"   styleClass="loginButton"  value="Entrar" action="#{login.logar()}" />
                <p:button  icon="ui-icon-circle-close"  styleClass="formButton" value="Cancelar" href="Login.xhtml"   /> 
                <div style="clear: both"></div>
            </div>
            <div style="width: 100%">
                <ul class="formUL">
                    <li><label class="labelClass">Login x</label>
                        <div><p:inputText value="#{login.usuario.login}" required="true" autocomplete="off"  requiredMessage="O Nome é Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Senha </label>
                        <div><p:password value="#{login.usuario.senha}" required="true"  requiredMessage="A senha é Obrigatório" /></div>
                    </li>
                </ul>
            </div>
        </h:form>
    </ui:define>
</ui:composition>