<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateRoleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateRoleLabel_idRole}" for="idRole" />
                    <h:inputText id="idRole" value="#{roleController.selected.idRole}" title="#{bundle.CreateRoleTitle_idRole}" required="true" requiredMessage="#{bundle.CreateRoleRequiredMessage_idRole}"/>
                    <h:outputLabel value="#{bundle.CreateRoleLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{roleController.selected.titulo}" title="#{bundle.CreateRoleTitle_titulo}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_descricao}" for="descricao" />
                    <h:inputText id="descricao" value="#{roleController.selected.descricao}" title="#{bundle.CreateRoleTitle_descricao}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleController.create}" value="#{bundle.CreateRoleSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{roleController.prepareList}" value="#{bundle.CreateRoleShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateRoleIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
