<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRoleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRoleLabel_idRole}"/>
                    <h:outputText value="#{roleController.selected.idRole}" title="#{bundle.ViewRoleTitle_idRole}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_titulo}"/>
                    <h:outputText value="#{roleController.selected.titulo}" title="#{bundle.ViewRoleTitle_titulo}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_descricao}"/>
                    <h:outputText value="#{roleController.selected.descricao}" title="#{bundle.ViewRoleTitle_descricao}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleController.destroyAndView}" value="#{bundle.ViewRoleDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRoleEditLink}"/>
                <br />
                <h:commandLink action="#{roleController.prepareCreate}" value="#{bundle.ViewRoleCreateLink}" />
                <br />
                <h:commandLink action="#{roleController.prepareList}" value="#{bundle.ViewRoleShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRoleIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
