body {
	margin: 0px;
	padding: 0;
	color: #616161;
	font-size: 12px;
	overflow: hidden;
	background: #CCC;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
	margin-top:20px;
}

ul {
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

/* Header */
#header {
    padding: 4px 0px;
    height: 75px;
    position: relative;
}

#logo {
    text-align: left;
}



#globalthemeswitcher {
    position:absolute;
    top:5px;
    right:50px;
}

/* Page */
#page {
	padding: 10px 0px;
	background: #FFFFFF;
}

/* Content */
#content {
	width: 70%;
    float:left;
}

.post {
	padding-bottom: 15px;
}

.post h1 {
	font-weight: normal;
}

.title {
	height: 30px;
	margin-left: 10px;
	padding: 8px 0 0 20px;
}

.title a {
	border-bottom: none;
	color: #FFFFFF;
}

.title a:hover {
	border-bottom: 1px dotted #000000;
}

.submenu-title {
    padding: 4px 10px;
}

.submenu-content {
    text-align:center;
}

.byline {
	margin: -60px 20px 20px 20px;
}

.byline a {
	color: #DC8700;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.entry p {
	line-height: 200%;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
}

#sidebar {
	float: left;
	width: 25%;
	padding: 0 10px;
	margin-left: -1px;
    overflow: hidden;
}

#sidebar a.ui-state-hover, 
#sidebar a.ui-state-highlight {
    border:0 none;
    text-decoration: none;
    font-weight: normal;
}

#sidebar table {
    width: 100%;
}

#sidebar table td {
    vertical-align: top;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    list-style-type: none;
    padding: 1px;
}

/* Footer */
#footer {
	height: 70px;
	margin: 0 auto;
	padding: 0 20px;
    font-size: 14px;
}

#footer p {
	margin: 0;
	padding: 25px 0 0 0;
	text-align: center;
}

#footer a {
}

#footer .link {
	float: right;
}

#footer .copyright {
	float: left;
}

.homeText {
	line-height: 175%;
}

.homeMenu {
	width:200px;
	float:left;
	margin-right:10px
}

.themeMenu {
    overflow: auto;
    height:300px;
    width:200px;
}

.dp-xml {
    width:1000px;
}

.ui-themeswitcher a.ui-selectonemenu-label-container {
    text-decoration: none !important;
}

.ui-widget {
    font-size: 12px !important;
}


#loginFormTable{
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -81px;
	margin-top: -48px;
	font-size: 12px;
}



.ui-datatable th div.ui-dt-c, .ui-datatable .ui-datatable-data 
td div.ui-dt-c, .ui-datatable .ui-datatable-data-empty 
td div.ui-dt-c, .ui-datatable tfoot td div.ui-dt-c {
font-size: 12px;
}


.zeroMarginPadding{
	margin:0px; padding:0px;
}

#menuDiv
{

	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	z-index: 2000;
}

#corpo{
		font-size: 12px !important;
/*		margin-top: 88px; */
}

.rodape{
	background-color:#CCC; color:#CCC
}
/*.ui-corner-all {
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}*/



.gradienteBackground {
border: 1px solid #A8A8A8;
background: #C4C4C4 url("/JSF2PManager/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.jsf?ln=primefaces-aristo") 50% 50% repeat-x;
background: #C4C4C4 linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
background: #C4C4C4 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
background: #C4C4C4 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
font-weight: bold;
color: #4F4F4F;
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

.buttonCell div{
    padding: 0px !important;
}
.buttonCell button{
    margin: 0px !important;
    background: transparent !important;
    border: none !important;
}
.labelClass{
    min-width: 120px;
    padding: 5px;
    padding-right: 10px;
    float: left;
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
}
.formUL{
    list-style-type: none;
}
.formUL li{
    padding: 3px;
}
.pageTitleDiv{
    background: #666;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 7px;
    
}
.formButton{
/*    float: right;*/
}



.saveButton {
    background:  -webkit-gradient(linear, left top, left bottom, from(#ccffcc), to(#CCCCCC))
}
.formButtonBar{
    padding: 3px;
    background: #999;
}

.selectOneMenu{
    min-width: 135px;
}