body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 11px;
}
.topo {
    color: #666666;
    border: solid 1px #666666;
    background: #333333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
    background: -moz-linear-gradient(top,  #666666,  #333333);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
}

#pageHeader{
    height:40px;
    padding-top: 10px;
    padding-left: 10px;
}
#logo{
    color:white;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
#corpo{
    padding: 5px;
}
#corpo #formPrincipal .quadro {
    padding: 10px;
    background: #EEE;
}
.panelGrid tr{
    background: #CCC;
}
#corpo #formPrincipal ul{
    list-style-type: none;
}
#corpo #formPrincipal label.description{
    /*	font-weight: bold;*/
    display:block;
    padding: 2px;
    padding-top: 8px;
}
#corpo #formPrincipal input[type=text]{
    font-weight: normal;

}
#corpo #formPrincipal label.radioItemLabel{
    padding: 2px;
}
#formTitle{
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.red{
    color: red;
}
.coluna1Form{
    padding-right:15px;
    float: left;	
}
.coluna2Form{
    float: left;	
}
.clearBoth{
    clear:both;
}
#formPrincipal input[type=text]{
    font-size: 11px;
}
.buttons{
    margin: 10px;
}
.buttonBar{
    background: #333333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
    background: -moz-linear-gradient(top,  #666666,  #333333);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
    padding: 5px;
}


.botao {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #333333) );
    background:-moz-linear-gradient( center top, #666666 5%, #333333 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
    background-color:#666666;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #333;
    display:inline-block;
    color:#CCCCCC;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    padding:4px 18px;
    text-decoration:none;
    text-shadow:1px 1px 0px #333;
}.botao:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #666666) );
    background:-moz-linear-gradient( center top, #333333 5%, #666666 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
    background-color:#333333;
    color:#FFF;
}.botao:active {
    position:relative;
    top:1px;
}
.noBorder{
    border: none;
}
.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:25px;
    width:100%;
    background:#666;
}

#formulario input[type=text]{
    font-weight: normal;

}
#logo{    
    position: absolute; z-index: 3000;padding: 4px;
}
#appName{
    width: 120px !important;
    display: block;
    padding-top: 2px;
    padding-left: 25px;
    font-size: 18px;
    font-weight: bold;
}
.task{
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
    position:relative;
}

.pinTask{
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    margin: 2px;
    -webkit-box-shadow:3px 3px 3px 2px #888;
    box-shadow:1px 1px 3px 2px #888;
    padding: 2px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    position:relative;
}
.finalizadoTask{

    background: #cdeb8e; /* Old browsers */
    background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */

}
.pendenteTask{
    background: #f1e767; /* Old browsers */
    background: -moz-linear-gradient(top,  #f1e767 0%, #feb645 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */

}
.andamentoTask{
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #ccffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#ccffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#ccffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#ccffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#ccffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#ccffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#ccffff',GradientType=0 ); /* IE6-9 */


}
div#tabela #quadroTable{
    width: 100%;
    background: #CCC;
}

div#tabela #quadroTable td{
    background: #999;
    padding: 2px;
    min-width: 30%;
}

.sortable{
    padding: 5px;
    margin-top: 3px;
    padding-top: 0px;
    min-height: 250px;
    width: 100%;
}

.columnTitle{
    font-size: 13px;
    font-weight: bold;
    color: #EEE;
    padding: 2px;
}
.tarefaTitle{
    height: 48px;
    font-size: 10px;
}
.tarefaUsuario{
    color: black;
    font-weight: bold;
    font-size: 9px !important;

}
.tarefaProjeto{
    background: #999;
    color: #EEE;
    font-weight: bold;
    font-size: 9px !important;
    height: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tarefaTempo{
    font-size: 9px;
    display: block;
    position:relative;
    padding: 2px;
    top:10px;
    right:-3px;
    float: right;
    overflow: visible;
    z-index: 3000;
    color: #EEE;
    background: #666;
        -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.hiddenElement{
    display: none;
}