<ui:composition template="/WEB-INF/template/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Tarefa ##{tarefa.tarefa.idTarefa}</ui:define>
    <ui:define name="formulario">
        <f:metadata>
            <f:viewParam name="idTarefa" value="#{tarefa.tarefa.idTarefa}" />
        </f:metadata>
        <h:form id="formulario">     
            <h:inputHidden   value="#{tarefa.tarefa.dataCriacao}"  >
                <f:convertDateTime pattern="dd/MM/yyyy" />
            </h:inputHidden>
            <div class="formButtonBar">
                <p:commandButton styleClass="saveButton" icon="ui-icon-disk" update="formulario"  value="Salvar" action="#{tarefa.update()}" id="buscar"/>
                <p:button  styleClass="formButton" icon="ui-icon-circle-close"   value="Cancelar" href="List.xhtml"   /> 
            </div>
            <div style="width: 100%">
                <ul class="formUL">
                    <li><label class="labelClass">Código </label>
                        <div>
                            <p:inputText value="#{tarefa.tarefa.idTarefa}"  readonly="true" />
                            <h:inputHidden value="#{tarefa.tarefa.idTarefa}"  />
                        </div>
                    </li>
                    <li><label class="labelClass">Título </label>
                        <div><p:inputText value="#{tarefa.tarefa.nome}" required="true"  requiredMessage="Preenchimento Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Descrição </label>
                        <div><p:inputText value="#{tarefa.tarefa.descricao}" required="true"  requiredMessage="Preenchimento Obrigatório"  /></div>
                    </li>               
                    <li><label class="labelClass">Dificuldade (1-5)</label>
                        <div>
                            <p:selectOneMenu     styleClass="selectOneMenu" value="#{tarefa.tarefa.dificuldade}"  required="true" requiredMessage="Selecione Uma Dificuldade" >
                                <f:selectItem itemLabel="1" itemValue="1" />  
                                <f:selectItem itemLabel="2" itemValue="2" />  
                                <f:selectItem itemLabel="3" itemValue="3" />  
                                <f:selectItem itemLabel="4" itemValue="4" />  
                                <f:selectItem itemLabel="5" itemValue="5" />  
                            </p:selectOneMenu> 
                        </div>
                    </li>
                    <li><label class="labelClass">Tempo </label>
                        <div>
                            <p:selectOneMenu    styleClass="selectOneMenu"  value="#{tarefa.tarefa.tempo}"  required="true" requiredMessage="Selecione Uma Dificuldade" >
                                <f:selectItem itemLabel="0.5" itemValue="0.5" />  
                                <f:selectItem itemLabel="1" itemValue="1" />  
                                <f:selectItem itemLabel="2" itemValue="2" />  
                                <f:selectItem itemLabel="3" itemValue="3" />                                  
                                <f:selectItem itemLabel="5" itemValue="5" /> 
                                <f:selectItem itemLabel="8" itemValue="8" />  
                                <f:selectItem itemLabel="13" itemValue="13" />  
                                <f:selectItem itemLabel="20" itemValue="20" />  
                                <f:selectItem itemLabel="40" itemValue="40" />  
                                <f:selectItem itemLabel="100" itemValue="100" />  
                            </p:selectOneMenu> 
                        </div>
                    </li>
                    <li><label class="labelClass">Projeto </label>
                        <p:selectOneMenu   styleClass="selectOneMenu" converter="projetoConverter" value="#{tarefa.tarefa.projetoIdProjeto}"  required="true" requiredMessage="Selecione Um Projeto" >
                            <f:selectItems  value="#{projeto.listarProjetos()}"  var="itemProjeto"  itemLabel="#{itemProjeto.nome}" itemValue="#{itemProjeto}" />
                        </p:selectOneMenu>  
                    </li>                  
                    <li><label class="labelClass">Usuário </label>
                        <p:selectOneMenu   styleClass="selectOneMenu" converter="usuarioConverter" value="#{tarefa.tarefa.usuarioIdUsuario}"   >
                            <f:selectItem value="#{null}" itemValue="#{null}" itemLabel="Nenhum" />  
                             <f:selectItems  value="#{usuario.listarUsuarios()}"  var="itemUsuario"  itemLabel="#{itemUsuario.nome}" itemValue="#{itemUsuario}" />
                        </p:selectOneMenu>  
                    </li>
                    <li><label class="labelClass">Sprint </label>
                        <p:selectOneMenu   styleClass="selectOneMenu" converter="sprintConverter" value="#{tarefa.tarefa.sprintIdSprint}"   >
                            <f:selectItem value="#{null}" itemValue="#{null}" itemLabel="Nenhum" />  
                            <f:selectItems  value="#{sprint.listarSprints()}"  var="itemSprint"  itemLabel="#{itemSprint.nome}" itemValue="#{itemSprint}" />
                        </p:selectOneMenu>  
                    </li>
                    <li><label class="labelClass">Status </label>
                        <div>
                            <p:selectOneRadio value="#{tarefa.tarefa.status}">  
                                <f:selectItem itemLabel="Ativo" itemValue="1" />  
                                <f:selectItem itemLabel="Inativo" itemValue="2" />  
                            </p:selectOneRadio>  
                        </div>
                    </li>
                </ul>
            </div>
        </h:form>
    </ui:define>
</ui:composition>