<ui:composition template="/WEB-INF/template/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Tarefa</ui:define>
    <ui:define name="formulario">
        <h:form id="formulario">
            <div class="formButtonBar">
                <p:defaultCommand target="buscar" />      
                <p:inputText id="termoBusca"  value="#{tarefa.termoBusca}"   />
                <div style="display: block;float: left; padding-top: 8px;color:white"> Projeto</div> <div style="display: block;float: left; padding: 3px;">
                    <p:selectOneMenu id="projeto" value="#{tarefa.projeto}" converter="projetoConverter">
                        <f:selectItem itemLabel="Todos" itemValue="#{null}" />
                       <f:selectItems  value="#{projeto.listarProjetos()}"  var="itemProjeto"  itemLabel="#{itemProjeto.nome}" itemValue="#{itemProjeto}" />
                </p:selectOneMenu> 
                </div>
                 
                <p:commandButton process="termoBusca, @form" update="tabela" icon="ui-icon-circle-zoomin" value="Buscar" action="#{tarefa.carregarListarTarefas()}" id="buscar" />
                <p:commandButton process="termoBusca, @form" update="tabela" icon="ui-icon-circle-close" value="Limpar" action="#{tarefa.limparListarTarefas()}" id="limpar" />
                <p:commandButton styleClass="formButton"  update="@all" icon="ui-icon-circle-plus" value="Nova Tarefa" action="#{tarefa.carregarNovaTarefa()}"  /> 
            </div>
            <p:dataTable  id="tabela" value="#{tarefa.listarTarefas()}"  var="tarefaItem"  paginator="true" rows="5" 
                          paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                <p:column headerText="ID"   style="width:10%">       
                    <h:outputText value="#{tarefaItem.idTarefa}" />  
                </p:column>  
                <p:column headerText="Nome"  style="width:30%">    
                    <h:outputText value="#{tarefaItem.nome}" />  
                </p:column> 
                 <p:column headerText="Projeto"  style="width:20%">    
                     <h:outputText value="#{tarefaItem.projetoIdProjeto.nome}" />
                </p:column>  
                <p:column headerText="Data Criação"  style="width:20%">    
                    <h:outputText value="#{tarefaItem.dataCriacao}" >
                            <f:convertDateTime pattern="dd/MM/yyyy HH:MM" />
                    </h:outputText>
                </p:column>
               
                <p:column headerText="Editar"  styleClass="buttonCell">    
                    <p:commandButton icon="ui-icon-pencil" ajax="false"   action="#{tarefa.carregarEdicao(tarefaItem)}" />
                </p:column> 
                <p:column headerText="Excluir"  styleClass="buttonCell">    
                    <p:commandButton  update="tabela"  icon="ui-icon-closethick"  action="#{tarefa.delete(tarefaItem)}"/>
                </p:column> 
            </p:dataTable>       
        </h:form>
    </ui:define>
</ui:composition>