<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTarefaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTarefaLabel_idTarefa}"/>
                    <h:outputText value="#{tarefaController.selected.idTarefa}" title="#{bundle.ViewTarefaTitle_idTarefa}"/>
                    <h:outputText value="#{bundle.ViewTarefaLabel_descricao}"/>
                    <h:outputText value="#{tarefaController.selected.descricao}" title="#{bundle.ViewTarefaTitle_descricao}"/>
                    <h:outputText value="#{bundle.ViewTarefaLabel_dificuldade}"/>
                    <h:outputText value="#{tarefaController.selected.dificuldade}" title="#{bundle.ViewTarefaTitle_dificuldade}"/>
                    <h:outputText value="#{bundle.ViewTarefaLabel_tempo}"/>
                    <h:outputText value="#{tarefaController.selected.tempo}" title="#{bundle.ViewTarefaTitle_tempo}"/>
                    <h:outputText value="#{bundle.ViewTarefaLabel_inicio}"/>
                    <h:outputText value="#{tarefaController.selected.inicio}" title="#{bundle.ViewTarefaTitle_inicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTarefaLabel_fim}"/>
                    <h:outputText value="#{tarefaController.selected.fim}" title="#{bundle.ViewTarefaTitle_fim}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTarefaLabel_dataCriacao}"/>
                    <h:outputText value="#{tarefaController.selected.dataCriacao}" title="#{bundle.ViewTarefaTitle_dataCriacao}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTarefaLabel_dataAtualizacao}"/>
                    <h:outputText value="#{tarefaController.selected.dataAtualizacao}" title="#{bundle.ViewTarefaTitle_dataAtualizacao}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTarefaLabel_usuarioIdUsuario}"/>
                    <h:outputText value="#{tarefaController.selected.usuarioIdUsuario}" title="#{bundle.ViewTarefaTitle_usuarioIdUsuario}"/>
                    <h:outputText value="#{bundle.ViewTarefaLabel_sprintIdSprint}"/>
                    <h:outputText value="#{tarefaController.selected.sprintIdSprint}" title="#{bundle.ViewTarefaTitle_sprintIdSprint}"/>
                    <h:outputText value="#{bundle.ViewTarefaLabel_projetoIdProjeto}"/>
                    <h:outputText value="#{tarefaController.selected.projetoIdProjeto}" title="#{bundle.ViewTarefaTitle_projetoIdProjeto}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tarefaController.destroyAndView}" value="#{bundle.ViewTarefaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTarefaEditLink}"/>
                <br />
                <h:commandLink action="#{tarefaController.prepareCreate}" value="#{bundle.ViewTarefaCreateLink}" />
                <br />
                <h:commandLink action="#{tarefaController.prepareList}" value="#{bundle.ViewTarefaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTarefaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
