<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:form>
        <div id="logo">
            <h:graphicImage library="img" name="hulk.png" width="20" /> 
        </div>
        <p:menubar>  
            <p:menuitem  > 
                <div id="appName">HulkScrum</div>   
            </p:menuitem>
            <p:menuitem value="Quadro" url="/quadro/"  icon="ui-icon-calculator"/>              
            <p:submenu label="Planejamento" icon="ui-icon-lightbulb">                       
                <p:menuitem value="Sprint Backlog" url="#"  icon="ui-icon-clipboard"/>  
                <p:menuitem value="Planning Poker"  url="#"  icon="ui-icon-note"/>
                <p:separator />  
                <p:submenu label="Tarefas" icon="ui-icon-clipboard">    
                    <p:menuitem value="Listar"  url="/tarefa/List.xhtml"   icon="ui-icon-clipboard"/>     
                    <p:menuitem value="Nova Tarefa" url="/tarefa/Create.xhtml" icon="ui-icon-plus" />   
                </p:submenu>
                <p:submenu label="Projetos" icon="ui-icon-clipboard">    
                    <p:menuitem value="Listar"  url="/projeto/List.xhtml"   icon="ui-icon-clipboard"/>     
                    <p:menuitem value="Novo Projeto" url="/projeto/Create.xhtml" icon="ui-icon-plus" />   
                </p:submenu>
                <p:submenu label="Sprint" icon="ui-icon-clock">  
                    <p:menuitem value="Listar"  url="/sprint/List.xhtml"  icon="ui-icon-clock"/>     
                    <p:menuitem value="Nova Sprint" url="/sprint/Create.xhtml" icon="ui-icon-plus"/>  
                </p:submenu> 
            </p:submenu>  
<!--            <p:submenu label="Retrospectiva" icon="ui-icon-flag">  
                <p:menuitem value="Análise"  url="#"  icon="ui-icon-comment"/>     
                <p:menuitem value="Relatórios" url="#" icon="ui-icon-note"/>                  
            </p:submenu>  -->
            <p:submenu label="Equipes" icon="ui-icon-document">  
                <p:menuitem value="Listar"  url="/equipe/List.xhtml"  icon="ui-icon-document" />     
                <p:menuitem value="Nova Equipe" url="/equipe/Create.xhtml" icon="ui-icon-plus" />                  
            </p:submenu>  
            <p:submenu label="Usuários" icon="ui-icon-person">  
                <p:menuitem value="Listar"  url="/usuario/List.xhtml"  icon="ui-icon-person" />     
                <p:menuitem value="Novo Usuário" url="/usuario/Create.xhtml" icon="ui-icon-plus" />                  
            </p:submenu>  
            <p:menuitem value="#{login.usuario.nome}" action="#{usuario.carregarEdicao(login.usuario)}"  
                        style="float: right;font-weight: bold;color: #006600"  icon="ui-icon-person" >
               
            </p:menuitem> 
            <p:menuitem icon="ui-icon-power"  value="Sair" 
                        style="float: right;font-weight: bold;color: #cc0000" action="#{login.deslogar()}" />  
        </p:menubar>
    </h:form>
</ui:composition>