<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPermissaoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPermissaoLabel_idPermissao}" for="idPermissao" />
                    <h:inputText id="idPermissao" value="#{permissaoController.selected.idPermissao}" title="#{bundle.EditPermissaoTitle_idPermissao}" required="true" requiredMessage="#{bundle.EditPermissaoRequiredMessage_idPermissao}"/>
                    <h:outputLabel value="#{bundle.EditPermissaoLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{permissaoController.selected.titulo}" title="#{bundle.EditPermissaoTitle_titulo}" required="true" requiredMessage="#{bundle.EditPermissaoRequiredMessage_titulo}"/>
                    <h:outputLabel value="#{bundle.EditPermissaoLabel_descricao}" for="descricao" />
                    <h:inputText id="descricao" value="#{permissaoController.selected.descricao}" title="#{bundle.EditPermissaoTitle_descricao}" />
                </h:panelGrid>
                <h:commandLink action="#{permissaoController.update}" value="#{bundle.EditPermissaoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPermissaoViewLink}"/>
                <br />
                <h:commandLink action="#{permissaoController.prepareList}" value="#{bundle.EditPermissaoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPermissaoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
