<ui:composition template="/WEB-INF/template/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Projeto ##{projeto.projeto.idProjeto}</ui:define>
    <ui:define name="formulario">  
        <f:metadata>
            <f:viewParam name="idProjeto" value="#{projeto.projeto.idProjeto}" />
        </f:metadata>
        <h:form id="formulario"> 
            <h:inputHidden   value="#{projeto.projeto.dataCriacao}"  >
                <f:convertDateTime pattern="dd/MM/yyyy" />
            </h:inputHidden>
            <div class="formButtonBar">
                <p:commandButton icon="ui-icon-disk"   styleClass="saveButton"  value="Salvar" action="#{projeto.update()}" />
                <p:button  icon="ui-icon-circle-close"  styleClass="formButton" value="Cancelar" href="List.xhtml"   /> 
                <div style="clear: both"></div>
            </div>
            <div style="width: 100%">
                <ul class="formUL">
                    <li><label class="labelClass">Código </label>
                        <div>
                            <h:outputLabel style="display: block;padding: 4px;font-weight: bold" value="#{projeto.projeto.idProjeto}"   />
                            <h:inputHidden value="#{projeto.projeto.idProjeto}"  />
                        </div>
                    </li>
                    <li><label class="labelClass">Nome </label>
                        <div><p:inputText value="#{projeto.projeto.nome}" required="true"  requiredMessage="O Nome é Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Descrição </label>
                        <div style="padding-top: 3px;"><p:inputText value="#{projeto.projeto.descricao}" required="true"  requiredMessage="A Descrição é Obrigatório" /></div>
                    </li>
                     <li><label class="labelClass">Criado em </label>
                         <div><h:outputText id="dataCriacao" style="display: block;padding: 4px;"   value="#{projeto.projeto.dataCriacao}" >
                                 <f:convertDateTime pattern="dd/MM/yyyy HH:MM" ></f:convertDateTime>
                             </h:outputText></div>
                    </li>
                </ul>
            </div>
        </h:form>
    </ui:define>
</ui:composition>