<ui:composition template="/WEB-INF/template/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Projeto</ui:define>
    <ui:define name="formulario">
        <h:form id="formulario">
            <div class="formButtonBar">
                <p:defaultCommand target="buscar" />      
                <p:inputText id="termoBusca"  value="#{projeto.termoBusca}"   />
                <p:commandButton process="termoBusca, @form" update="tabela" icon="ui-icon-circle-zoomin" value="Buscar" action="#{projeto.carregarListarProjetos()}" id="buscar" />
                <p:commandButton process="termoBusca, @form" update="tabela" icon="ui-icon-circle-close" value="Limpar" action="#{projeto.limparListarProjetos()}" id="limpar" />
                <p:commandButton styleClass="formButton"  update="@all" icon="ui-icon-circle-plus" value="Nova Projeto" action="#{projeto.carregarNovaProjeto()}"  /> 
            </div>
            <p:dataTable  id="tabela" value="#{projeto.listarProjetos()}"  var="projetoItem"  paginator="true" rows="5" 
                          paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                <p:column headerText="ID"   style="width:10%">       
                    <h:outputText value="#{projetoItem.idProjeto}" />  
                </p:column>  
                <p:column headerText="Nome"  style="width:80%">    
                    <h:outputText value="#{projetoItem.nome}" />  
                </p:column>   
                <p:column headerText="Editar"  styleClass="buttonCell">    
                    <p:commandButton icon="ui-icon-pencil" ajax="false"   action="#{projeto.carregarEdicao(projetoItem)}" />
                </p:column> 
                <p:column headerText="Excluir"  styleClass="buttonCell">    
                    <p:commandButton  update="tabela"  icon="ui-icon-closethick"  action="#{projeto.delete(projetoItem)}"/>
                </p:column> 
            </p:dataTable>       
        </h:form>
    </ui:define>
</ui:composition>