<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewProjetoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewProjetoLabel_idProjeto}"/>
                    <h:outputText value="#{projetoController.selected.idProjeto}" title="#{bundle.ViewProjetoTitle_idProjeto}"/>
                    <h:outputText value="#{bundle.ViewProjetoLabel_nome}"/>
                    <h:outputText value="#{projetoController.selected.nome}" title="#{bundle.ViewProjetoTitle_nome}"/>
                    <h:outputText value="#{bundle.ViewProjetoLabel_descricao}"/>
                    <h:outputText value="#{projetoController.selected.descricao}" title="#{bundle.ViewProjetoTitle_descricao}"/>
                    <h:outputText value="#{bundle.ViewProjetoLabel_dataCriacao}"/>
                    <h:outputText value="#{projetoController.selected.dataCriacao}" title="#{bundle.ViewProjetoTitle_dataCriacao}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewProjetoLabel_dataAtualizacao}"/>
                    <h:outputText value="#{projetoController.selected.dataAtualizacao}" title="#{bundle.ViewProjetoTitle_dataAtualizacao}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{projetoController.destroyAndView}" value="#{bundle.ViewProjetoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewProjetoEditLink}"/>
                <br />
                <h:commandLink action="#{projetoController.prepareCreate}" value="#{bundle.ViewProjetoCreateLink}" />
                <br />
                <h:commandLink action="#{projetoController.prepareList}" value="#{bundle.ViewProjetoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewProjetoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
