<ui:composition template="/WEB-INF/template/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Equipe ##{equipe.equipe.idEquipe}</ui:define>
    <ui:define name="formulario">
        <h:form id="formulario">      
            <div class="formButtonBar">
                <p:commandButton icon="ui-icon-disk"   styleClass="saveButton"  value="Salvar" action="#{equipe.saveOrUpdate()}" />
                <p:button  icon="ui-icon-circle-close"  styleClass="formButton" value="Cancelar" href="List.xhtml"   /> 
                <div style="clear: both"></div>
            </div>
            <div style="width: 100%">
                <ul class="formUL">
                    <li><label class="labelClass">Código </label>
                        <div><p:inputText value="AUTO"  readonly="true" disabled="disabled" /></div>
                    </li>
                    <li><label class="labelClass">Nome </label>
                        <div><p:inputText value="#{equipe.equipe.nome}" required="true"  requiredMessage="O Nome é Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Status </label>
                        <div><p:inputText value="#{equipe.equipe.status}" required="true"  requiredMessage="O Status é Obrigatório" /></div>
                    </li>
                </ul>
            </div>
        </h:form>
    </ui:define>
</ui:composition>