<ui:composition template="/WEB-INF/template/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Equipe ##{equipe.equipe.idEquipe}</ui:define>
    <ui:define name="formulario">
        <f:metadata>
            <f:viewParam name="idEquipe" value="#{equipe.equipe.idEquipe}" />
        </f:metadata>
        <h:form id="formulario">      
            <div class="formButtonBar">
                <p:commandButton styleClass="saveButton" icon="ui-icon-disk"  value="Salvar" action="#{equipe.saveOrUpdate()}" id="buscar"/>
                <p:button  styleClass="formButton" icon="ui-icon-circle-close"   value="Cancelar" href="List.xhtml"   /> 
                <p:commandButton styleClass="formButton"  icon="ui-icon-plus" value="Nova Equipe"  update="@all" action="#{equipe.carregarNovaEquipe()}"  /> 
            </div>
            <div style="width: 100%">
                <ul class="formUL">
                    <li><label class="labelClass">Código </label>
                        <div>
                            <p:inputText value="#{equipe.equipe.idEquipe}"  readonly="true" />
                            <h:inputHidden value="#{equipe.equipe.idEquipe}"  />
                        </div>
                    </li>
                    <li><label class="labelClass">Nome </label>
                        <div><p:inputText value="#{equipe.equipe.nome}" required="true"  requiredMessage="Preenchimento Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Status </label>
                        <div><p:inputText value="#{equipe.equipe.status}" required="true"  requiredMessage="Preenchimento Obrigatório"  /></div>
                    </li>
                </ul>
            </div>


        </h:form>
    </ui:define>
</ui:composition>