<ui:composition template="/WEB-INF/template/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Equipe</ui:define>
    <ui:define name="formulario">
        <h:form id="formulario">
            <div class="formButtonBar">
                <p:defaultCommand target="buscar" />      
                <p:inputText id="termoBusca"  value="#{equipe.termoBusca}"   />
                <p:commandButton process="termoBusca, @form" update="tabela" icon="ui-icon-circle-zoomin" value="Buscar" action="#{equipe.carregarListarEquipes()}" id="buscar" />
                <p:commandButton process="termoBusca, @form" update="tabela" icon="ui-icon-circle-close" value="Limpar" action="#{equipe.limparListarEquipes()}" id="limpar" />
                <p:commandButton styleClass="formButton"  update="@all" icon="ui-icon-circle-plus" value="Nova Equipe" action="#{equipe.carregarNovaEquipe()}"  /> 
            </div>
            <p:dataTable  id="tabela" value="#{equipe.listarEquipes()}"  var="equipeItem"  paginator="true" rows="5" 
                          paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                <p:column headerText="ID"   style="width:10%">       
                    <h:outputText value="#{equipeItem.idEquipe}" />  
                </p:column>  
                <p:column headerText="Nome"  style="width:80%">    
                    <h:outputText value="#{equipeItem.nome}" />  
                </p:column>   
                <p:column headerText="Editar"  styleClass="buttonCell">    
                    <p:commandButton icon="ui-icon-pencil" ajax="false"   action="#{equipe.carregarEdicao(equipeItem)}" />
                </p:column> 
                <p:column headerText="Excluir"  styleClass="buttonCell">    
                    <p:commandButton  update="tabela"  icon="ui-icon-closethick"  action="#{equipe.delete(equipeItem)}"/>
                </p:column> 
            </p:dataTable>       
        </h:form>
    </ui:define>
</ui:composition>