<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEquipeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEquipeLabel_idEquipe}"/>
                    <h:outputText value="#{equipeController.selected.idEquipe}" title="#{bundle.ViewEquipeTitle_idEquipe}"/>
                    <h:outputText value="#{bundle.ViewEquipeLabel_nome}"/>
                    <h:outputText value="#{equipeController.selected.nome}" title="#{bundle.ViewEquipeTitle_nome}"/>
                    <h:outputText value="#{bundle.ViewEquipeLabel_status}"/>
                    <h:outputText value="#{equipeController.selected.status}" title="#{bundle.ViewEquipeTitle_status}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{equipeController.destroyAndView}" value="#{bundle.ViewEquipeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEquipeEditLink}"/>
                <br />
                <h:commandLink action="#{equipeController.prepareCreate}" value="#{bundle.ViewEquipeCreateLink}" />
                <br />
                <h:commandLink action="#{equipeController.prepareList}" value="#{bundle.ViewEquipeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEquipeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
