<ui:composition template="/WEB-INF/template/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Sprint ##{sprint.sprint.idSprint}</ui:define>
    <ui:define name="formulario">
        <f:metadata>
            <f:viewParam name="idSprint" value="#{sprint.sprint.idSprint}" />
        </f:metadata>
        <h:form id="formulario">      
            <div class="formButtonBar">
                <p:commandButton styleClass="saveButton" update="@form" icon="ui-icon-disk"  value="Salvar" action="#{sprint.saveOrUpdate()}" id="buscar"/>
                <p:button  styleClass="formButton" icon="ui-icon-circle-close"   value="Cancelar" href="List.xhtml"   /> 
                <p:commandButton styleClass="formButton"  icon="ui-icon-plus" value="Nova Sprint"  update="@all" action="#{sprint.carregarNovaSprint()}"  /> 
            </div>
            <div style="width: 100%"> 
                <ul class="formUL">
                    <li><label class="labelClass">Código </label>
                        <div>
                            <p:inputText value="AUTO"  readonly="true" disabled="true" />                          
                        </div>
                    </li>
                    <li><label class="labelClass">Nome </label>
                        <div><p:inputText value="#{sprint.sprint.obs}" required="true"  requiredMessage="Preenchimento Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Início </label>
                        <div><p:calendar pattern="dd/MM/yyyy" value="#{sprint.sprint.inicio}" required="true"  requiredMessage="Preenchimento Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Fim </label>
                        <div><p:calendar pattern="dd/MM/yyyy"  value="#{sprint.sprint.fim}"  /></div>
                    </li>
                </ul>
            </div>


        </h:form>
    </ui:define>
</ui:composition>