<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSprintTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSprintLabel_idSprint}"/>
                    <h:outputText value="#{sprintController.selected.idSprint}" title="#{bundle.ViewSprintTitle_idSprint}"/>
                    <h:outputText value="#{bundle.ViewSprintLabel_inicio}"/>
                    <h:outputText value="#{sprintController.selected.inicio}" title="#{bundle.ViewSprintTitle_inicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewSprintLabel_fim}"/>
                    <h:outputText value="#{sprintController.selected.fim}" title="#{bundle.ViewSprintTitle_fim}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewSprintLabel_obs}"/>
                    <h:outputText value="#{sprintController.selected.obs}" title="#{bundle.ViewSprintTitle_obs}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{sprintController.destroyAndView}" value="#{bundle.ViewSprintDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewSprintEditLink}"/>
                <br />
                <h:commandLink action="#{sprintController.prepareCreate}" value="#{bundle.ViewSprintCreateLink}" />
                <br />
                <h:commandLink action="#{sprintController.prepareList}" value="#{bundle.ViewSprintShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewSprintIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
