<ui:composition template="/WEB-INF/template/quadroTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <ui:define name="pageTitle">#{quadro.sprint.nome}</ui:define>
    <ui:define name="formulario">
        <script type="text/javascript">
             

        </script>
        <h:form id="formulario">      
            <p:growl id="growl" for="growl" showDetail="true" life="3000" />  
            <h:inputHidden value="#{quadro.ajaxResponse}" id="ajaxResponse"/>
            <h:inputHidden value="#{quadro.coluna}" id="coluna"/>
            <h:inputHidden value="#{quadro.idTarefa}" id="idTarefa"/>
            <p:remoteCommand name="updateColumns" value="#{quadro.ajaxResponse}"  actionListener="#{quadro.moverTarefa()}" update="growl, ajaxResponse" oncomplete="ok()"/>

            <h:outputScript library="js" name="dragDrop.js" />
            <div class="formButtonBar">
                <p:defaultCommand target="buscar" />      
                <p:inputText id="termoBusca"  value="#{quadro.termoBusca}"   />
                <div style="display: block;float: left; padding-top: 8px;color:white"> Projeto</div> 
                <div style="display: block;float: left; padding: 3px;">
                    <p:selectOneMenu value="#{quadro.projeto}" converter="projetoConverter">
                        <f:selectItem itemLabel="Todos" itemValue="#{null}" />
                        <f:selectItems  value="#{projeto.listarProjetos()}"  var="itemProjeto"  itemLabel="#{itemProjeto.nome}" itemValue="#{itemProjeto}" />
                    </p:selectOneMenu> 
                </div>
                <div style="display: block;float: left; padding-top: 8px;color:white"> Usuário</div> 
                <div style="display: block;float: left; padding: 3px;">
                    <p:selectOneMenu value="#{quadro.usuario}" converter="usuarioConverter">
                        <f:selectItem itemLabel="Todos" itemValue="#{null}" />
                        <f:selectItems  value="#{usuario.listarUsuarios()}"  var="itemUsuario"  itemLabel="#{itemUsuario.nome}" itemValue="#{itemUsuario}" />
                    </p:selectOneMenu> 
                </div>
                <div style="display: block;float: left; padding-top: 8px;color:white"> Sprint</div> 
                <div style="display: block;float: left; padding: 3px;">
                    <p:selectOneMenu value="#{quadro.sprint}" converter="sprintConverter">
                        <f:selectItem itemLabel="Todos" itemValue="#{null}" />
                        <f:selectItems  value="#{sprint.listarSprints()}"  var="itemSprint"  itemLabel="#{itemSprint.nome}" itemValue="#{itemSprint}" />
                    </p:selectOneMenu> 
                </div>

                <p:commandButton process="termoBusca, @form" update="@form"  icon="ui-icon-circle-zoomin" value="Buscar" action="#{quadro.carregarListarTarefas()}" id="buscar" />
                <p:commandButton process="termoBusca, @form"  update="@form"  icon="ui-icon-circle-close" value="Limpar" action="#{quadro.limparListarTarefas()}" id="limpar" />
                <p:commandButton styleClass="formButton"  update="@all" icon="ui-icon-circle-plus" value="Nova Tarefa" action="#{tarefa.carregarNovaTarefa()}"  /> 
            </div>
            <!--Quadro-->
            <div id="tabela" class="quadroContainer">
                <table id="quadroTable">
                    <tr>
                        <td id="td1">
                            <div class="columnTitle">Pendente</div>
                            <ul id="quadroPendente"  class="sortable" idRef="0">
                                <c:forEach items="#{quadro.listarTarefas(0)}" var="tarefaQuadroItem">
                                    <li class="pinTask pendenteTask" idRef="#{tarefaQuadroItem.idTarefa}">
                                        <div class="tarefaTitle"><h:outputText value="#{tarefaQuadroItem.nome}" /> </div>  
                                        <div class="tarefaUsuario"><h:outputText value="#{tarefaQuadroItem.usuarioIdUsuario.login}" /> </div>  
                                    </li>
                                </c:forEach>
                            </ul>
                        </td>
                        <td id="td2">
                            <div class="columnTitle">Em andamento</div>
                            <ul id="quadroAndamento" class="sortable" idRef="1">
                                <c:forEach items="#{quadro.listarTarefas(1)}" var="tarefaQuadroItem" >
                                    <li class="pinTask andamentoTask"  idRef="#{tarefaQuadroItem.idTarefa}">
                                        <div class="tarefaTitle"><h:outputText value="#{tarefaQuadroItem.nome}" /> </div>  
                                        <div class="tarefaUsuario"><h:outputText value="#{tarefaQuadroItem.usuarioIdUsuario.login}" /> </div>  

                                    </li>
                                </c:forEach>
                            </ul>
                        </td>
                        <td id="td3">
                            <div class="columnTitle">Finalizado</div>
                            <ul class="sortable"  id="quadroFinalizado"  idRef="2">
                                <c:forEach items="#{quadro.listarTarefas(2)}" var="tarefaQuadroItem">
                                    <li idRef="#{tarefaQuadroItem.idTarefa}" class="task">

                                        <div class="tarefaTempo"><h:outputText value="#{tarefaQuadroItem.tempo}" /> </div>
                                        <div  class="pinTask finalizadoTask">
                                            <div class="tarefaTitle"><h:outputText value="#{tarefaQuadroItem.nome}" /> </div>  
                                            <div class="tarefaUsuario"><h:outputText value="#{tarefaQuadroItem.usuarioIdUsuario.login}" /> </div>  
                                            <div class="tarefaProjeto"><h:outputText value="#{tarefaQuadroItem.projetoIdProjeto.nome}" /> </div> 

                                        </div>


                                        <div class="tarefaDificuldade hiddenElement" ><h:outputText value="#{tarefaQuadroItem.dificuldade}" /> </div>
                                        <div class="tarefaDescricao hiddenElement"><h:outputText value="#{tarefaQuadroItem.descricao}" /> </div>
                                        <div class="tarefaId hiddenElement"><h:outputText value="#{tarefaQuadroItem.idTarefa}" /> </div>
                                    </li>
                                </c:forEach>
                            </ul>
                        </td>
                    </tr>
                </table>

            </div>





            <!--Quadro-->




        </h:form>
    </ui:define>
</ui:composition>