<ui:composition template="/WEB-INF/template/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Usuario ##{usuario.usuario.idUsuario}</ui:define>
    <ui:define name="formulario">
        <f:metadata>
            <f:viewParam name="idUsuario" value="#{usuario.usuario.idUsuario}" />
        </f:metadata>
        <h:form id="formulario">      
            <div class="formButtonBar">
                <p:commandButton styleClass="saveButton" icon="ui-icon-disk" update="formulario"  value="Salvar" action="#{usuario.saveOrUpdate()}" id="buscar"/>
                <p:button  styleClass="formButton" icon="ui-icon-circle-close"   value="Cancelar" href="List.xhtml"   /> 
            </div>
            <div style="width: 100%">
                <ul class="formUL">
                    <li><label class="labelClass">Código </label>
                        <div>
                            <p:inputText value="AUTO"  readonly="true" disabled="disabled" />
                        </div>
                    </li>
                    <li><label class="labelClass">Nome </label>
                        <div><p:inputText value="#{usuario.usuario.nome}" required="true"  requiredMessage="Preenchimento Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Email </label>
                        <div><p:inputText value="#{usuario.usuario.email}" required="true"  requiredMessage="Preenchimento Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Login </label>
                        <div><p:inputText value="#{usuario.usuario.login}" required="true"  requiredMessage="Preenchimento Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Senha </label>
                        <div><p:inputText value="#{usuario.novaSenha}" required="true"  requiredMessage="Preenchimento Obrigatório"  /></div>
                    </li>
                    <li><label class="labelClass">Equipe </label>
                        <p:selectOneMenu id="equipe"   converter="equipeConverter"
                                         value="#{usuario.usuario.equipeIdEquipe}" title="Equipe" required="true" requiredMessage="Selecione Uma Equipe" >

                            <f:selectItems  value="#{equipe.listarEquipes()}"  var="itemEquipe"  itemLabel="#{itemEquipe.nome}" itemValue="#{itemEquipe}" />
                        </p:selectOneMenu>  

                    </li>
                    <li><label class="labelClass">Status </label>
                        <div>
                            <p:selectOneRadio value="#{usuario.usuario.status}">  
                                <f:selectItem itemLabel="Ativo" itemValue="1" />  
                                <f:selectItem itemLabel="Inativo" itemValue="2" />  
                            </p:selectOneRadio>  
                        </div>
                    </li>
                </ul>
            </div>


        </h:form>
    </ui:define>
</ui:composition>