<ui:composition template="/WEB-INF/template/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="pageTitle">Usuário</ui:define>
    <ui:define name="formulario">
        <h:form id="formulario">
            <div class="formButtonBar">
                <p:defaultCommand target="buscar" />      
                <p:inputText id="termoBusca"  value="#{usuario.termoBusca}"   />
                <p:commandButton process="termoBusca, @form" update="tabela" icon="ui-icon-circle-zoomin" value="Buscar" action="#{usuario.carregarListarUsuarios()}" id="buscar" />
                <p:commandButton process="termoBusca, @form" update="tabela" icon="ui-icon-circle-close" value="Limpar" action="#{usuario.limparListarUsuarios()}" id="limpar" />
                <p:commandButton styleClass="formButton"  update="@all" icon="ui-icon-circle-plus" value="Novo Usuário" action="#{usuario.carregarNovaUsuario()}"  /> 
            </div>
            <p:dataTable  id="tabela" value="#{usuario.listarUsuarios()}"  var="usuarioItem"  paginator="true" rows="5" 
                          paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                <p:column headerText="ID"   style="width:10%">       
                    <h:outputText value="#{usuarioItem.idUsuario}" />  
                </p:column>  
                <p:column headerText="Nome"  style="width:20%">    
                    <h:outputText value="#{usuarioItem.nome}" />  
                </p:column>   
                <p:column headerText="Email"  style="width:20%">    
                    <h:outputText value="#{usuarioItem.email}" />  
                </p:column>   
                <p:column headerText="Login"  style="width:20%">    
                    <h:outputText value="#{usuarioItem.login}" />  
                </p:column>   
                  <p:column headerText="Equipe"  style="width:20%">    
                      <h:outputText value="#{usuarioItem.equipeIdEquipe.nome}" />  
                </p:column>   
                <p:column headerText="Editar"  styleClass="buttonCell">    
                    <p:commandButton icon="ui-icon-pencil" ajax="false"   action="#{usuario.carregarEdicao(usuarioItem)}" />
                </p:column> 
                <p:column headerText="Excluir"  styleClass="buttonCell">    
                    <p:commandButton  update="tabela"  icon="ui-icon-closethick"  action="#{usuario.delete(usuarioItem)}"/>
                </p:column> 
            </p:dataTable>       
        </h:form>
    </ui:define>
</ui:composition>