<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewUsuarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUsuarioLabel_idUsuario}"/>
                    <h:outputText value="#{usuarioController.selected.idUsuario}" title="#{bundle.ViewUsuarioTitle_idUsuario}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_nome}"/>
                    <h:outputText value="#{usuarioController.selected.nome}" title="#{bundle.ViewUsuarioTitle_nome}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_email}"/>
                    <h:outputText value="#{usuarioController.selected.email}" title="#{bundle.ViewUsuarioTitle_email}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_senha}"/>
                    <h:outputText value="#{usuarioController.selected.senha}" title="#{bundle.ViewUsuarioTitle_senha}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_login}"/>
                    <h:outputText value="#{usuarioController.selected.login}" title="#{bundle.ViewUsuarioTitle_login}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_status}"/>
                    <h:outputText value="#{usuarioController.selected.status}" title="#{bundle.ViewUsuarioTitle_status}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_equipeIdEquipe}"/>
                    <h:outputText value="#{usuarioController.selected.equipeIdEquipe}" title="#{bundle.ViewUsuarioTitle_equipeIdEquipe}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{usuarioController.destroyAndView}" value="#{bundle.ViewUsuarioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewUsuarioEditLink}"/>
                <br />
                <h:commandLink action="#{usuarioController.prepareCreate}" value="#{bundle.ViewUsuarioCreateLink}" />
                <br />
                <h:commandLink action="#{usuarioController.prepareList}" value="#{bundle.ViewUsuarioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewUsuarioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
