<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Scrum</title>
        <h:outputStylesheet library="css" name="estilo.css"/>
        <h:outputStylesheet  library="css" name="default.css"  />
        <h:outputScript name="jsf.js" library="javax.faces" target="head" />    
        <h:outputScript library="js" name="monsterValidator.jquery.js" />
    </h:head>
    <h:body>
    
        <ui:include src="/WEB-INF/componentes/menuGeral.xhtml" />
        <h:form id="formulario">
            <p:defaultCommand target="buscar" />      
            <p:inputText id="termoBusca"  value="#{equipe.termoBusca}"   />
            <p:commandButton process="termoBusca" update="tabela, termoBusca" value="Buscar" action="#{equipe.listarEquipes()}" id="buscar" />
            <p:dataTable id="tabela" value="#{equipe.listarEquipes()}"  var="equipeItem">
                <p:column headerText="ID">  
                    <h:outputText value="#{equipeItem.idEquipe}" />  
                </p:column>  
                <p:column headerText="Nome">  
                    <h:outputText value="#{equipeItem.nome}" />  
                </p:column>   
                <p:column headerText="Editar">  
                    <p:commandButton icon="ui-icon-pencil" update="tabela"   action="#{equipe.delete(equipeItem)}"/>
                </p:column> 
                <p:column headerText="Excluir">  
                    <p:commandLink update="tabela" value="Buscar" action="#{equipe.delete(equipeItem)}"/>
                </p:column> 
            </p:dataTable>       
        </h:form>
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
    </h:body>
</html>

